In [5]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [9]:
df = pd.read_csv('insurance_data.csv')
df.head(3)

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(df[['age','affordibility']],df['bought_insurance'],test_size=0.2,random_state=25)