In [59]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from catboost import CatBoostClassifier
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('G:/New 20121 Dekstop Files/thesis 2021/employee attrition dataset/employee_attrition.csv')

# Models
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier  
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB

In [3]:
df.sample(6)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
47,37,No,Travel_Rarely,408,Research & Development,19,2,Life Sciences,1,61,...,1,80,0,8,1,3,1,0,0,0
915,21,Yes,Travel_Frequently,251,Research & Development,10,2,Life Sciences,1,1279,...,3,80,0,2,2,1,2,2,2,2
1358,31,No,Travel_Rarely,1079,Sales,10,2,Medical,1,1912,...,4,80,1,8,2,3,5,2,1,4
1211,37,No,Travel_Frequently,1278,Sales,1,4,Medical,1,1700,...,3,80,2,6,2,2,6,3,1,3
992,39,No,Non-Travel,1485,Research & Development,25,2,Life Sciences,1,1397,...,2,80,1,13,2,3,6,4,0,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [5]:
df['Attrition'].replace({'Yes':1,'No':0}, inplace = True)

In [6]:
df.Attrition.unique()

array([1, 0], dtype=int64)

In [7]:
df.Attrition.value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

#  Data Cleaning

In [8]:
for col in df:
    print(f'{col}: {df[col].unique()}')

Age: [41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60]
Attrition: [1 0]
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
DailyRate: [1102  279 1373 1392  591 1005 1324 1358  216 1299  809  153  670 1346
  103 1389  334 1123 1219  371  673 1218  419  391  699 1282 1125  691
  477  705  924 1459  125  895  813 1273  869  890  852 1141  464 1240
 1357  994  721 1360 1065  408 1211 1229  626 1434 1488 1097 1443  515
  853 1142  655 1115  427  653  989 1435 1223  836 1195 1339  664  318
 1225 1328 1082  548  132  746  776  193  397  945 1214  111  573 1153
 1400  541  432  288  669  530  632 1334  638 1093 1217 1353  120  682
  489  807  827  871  665 1040 1420  240 1280  534 1456  658  142 1127
 1031 1189 1354 1467  922  394 1312  750  441  684  249  841  147  528
  594  470  957  542  802 1355 1150 1329  959 1033 1316  364  438  689
  201 1427  857  933 1181 1395  662 1436  194  967 1496 1169 1145  630
  303 1256  440 1450 1452  465  702 1157  602 1480 1268  713  134  526
 1380  140  629 1356  328 1084  931  692 1069  313  894  556 1344  290
  138  926 1261  472 1002  878  905 1180  121 1136  635 1151  644 1045
  829 1242 1469  896  992 1052 1147 1396  663  119  979  319 1413  944
 1323  532  818  854 1034  771 1401 1431  976 1411 1300  252 1327  832
 1017 1199  504  505  916 1247  685  269 1416  833  307 1311  128  488
  529 1210 1463  675 1385 1403  452  666 1158  228  996  728 1315  322
 1479  797 1070  442  496 1372  920  688 1449 1117  636  506  444  950
  889  555  230 1232  566 1302  812 1476  218 1132 1105  906  849  390
  106 1249  192  553  117  185 1091  723 1220  588 1377 1018 1275  798
  672 1162  508 1482  559  210  928 1001  549 1124  738  570 1130 1192
  343  144 1296 1309  483  810  544 1062 1319  641 1332  756  845  593
 1171  350  921 1144  143 1046  575  156 1283  755  304 1178  329 1362
 1371  202  253  164 1107  759 1305  982  821 1381  480 1473  891 1063
  645 1490  317  422 1485 1368 1448  296 1398 1349  986 1099 1116 1499
  983 1009 1303 1274 1277  587  413 1276  988 1474  163  267  619  302
  443  828  561  426  232 1306 1094  509  775  195  258  471  799  956
  535 1495  446 1245  703  823 1246  622 1287  448  254 1365  538  525
  558  782  362 1236 1112  204 1343  604 1216  646  160  238 1397  306
  991  482 1176  913 1076  727  885  243  806  817 1410 1207 1442  693
  929  562  608  580  970 1179  294  314  316  654  168  381  217  501
  650  141  804  975 1090  346  430  268  167  621  527  883  954  310
  719  725  715  657 1146  182  376  571  384  791 1111 1243 1092 1325
  805  213  118  676 1252  286 1258  932 1041  859  720  946 1184  436
  589  760  887 1318  625  180  586 1012  661  930  342 1230 1271 1278
  607  130  300  583 1418 1269  379  395 1265 1222  341  868 1231  102
  881 1383 1075  374 1086  781  177  500 1425 1454  617 1085  995 1122
  618  546  462 1198 1272  154 1137 1188  188 1333  867  263  938  129
  616  498 1404 1053  289 1376  231  152  882  903 1379  335  722  461
  974 1126  840 1134  248  955  939 1391 1206  287 1441  109 1066  277
  466 1055  265  135  247 1035  266  145 1038 1234 1109 1089  788  124
  660 1186 1464  796  415  769 1003 1366  330 1492 1204  309 1330  469
  697 1262 1050  770  406  203 1308  984  439  793 1451 1182  174  490
  718  433  773  603  874  367  199  481  647 1384  902  819  862 1457
  977  942 1402 1421 1361  917  200  150  179  696  116  363  107 1465
  458 1212 1103  966 1010  326 1098  969 1167  694 1320  536  373  599
  251  131  237 1429  648  735  531  429  968  879  640  412  848  360
 1138  325 1322  299 1030  634  524  256 1060  935  495  282  206  943
  523  507  601  855 1291 1405 1369  999 1202  285  404  736 1498 1200
 1439  499  205  683 1462  949  652  332 1475  337  971 1174  667  560
  172  383 1255  359  401  377  592 1445 1221  866  981  447 1326  748
  990  405  115  790  830 1193 1423  467  271  410 1083  516  224  136
 1029  333 1440  674 1342  898  824  492  598  740  888 1288  104 1108
  479 1351  474  437  884 1370  264 1059  563  457 1313  241 1015  336
 1387  170  208  671  711  737 1470  365  763  567  486  772  301  311
  584  880  392  148  708 1259  786  370  678  146  581  918 1238  585
  741  552  369  717  543  964  792  611  176  897  600 1054  428  181
  211 1079  590  305  953  478 1375  244  511 1294  196  734 1239 1253
 1128 1336  234  766  261 1194  431  572 1422 1297  574  355  207  706
  280  726  414  352 1224  459 1254 1131  835 1172 1266  783  219 1213
 1096 1251 1394  605 1064 1337  937  157  754 1168  155 1444  189  911
 1321 1154  557  642  801  161 1382 1037  105  582  704  345 1120 1378
  468  613 1023  628]
Department: ['Sales' 'Research & Development' 'Human Resources']
DistanceFromHome: [ 1  8  2  3 24 23 27 16 15 26 19 21  5 11  9  7  6 10  4 25 12 18 29 22
 14 20 28 17 13]
Education: [2 1 4 3 5]
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
EmployeeCount: [1]
EmployeeNumber: [   1    2    4 ... 2064 2065 2068]
EnvironmentSatisfaction: [2 3 4 1]
Gender: ['Female' 'Male']
HourlyRate: [ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38]
JobInvolvement: [3 2 4 1]
JobLevel: [2 1 3 4 5]
JobRole: ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
JobSatisfaction: [4 2 3 1]
MaritalStatus: ['Single' 'Married' 'Divorced']
MonthlyIncome: [5993 5130 2090 ... 9991 5390 4404]
MonthlyRate: [19479 24907  2396 ...  5174 13243 10228]
NumCompaniesWorked: [8 1 6 9 0 4 5 2 7 3]
Over18: ['Y']
OverTime: ['Yes' 'No']
PercentSalaryHike: [11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]
PerformanceRating: [3 4]
RelationshipSatisfaction: [1 4 2 3]
StandardHours: [80]
StockOptionLevel: [0 1 3 2]
TotalWorkingYears: [ 8 10  7  6 12  1 17  5  3 31 13  0 26 24 22  9 19  2 23 14 15  4 29 28
 21 25 20 11 16 37 38 30 40 18 36 34 32 33 35 27]
TrainingTimesLastYear: [0 3 2 5 1 4 6]
WorkLifeBalance: [1 3 2 4]
YearsAtCompany: [ 6 10  0  8  2  7  1  9  5  4 25  3 12 14 22 15 27 21 17 11 13 37 16 20
 40 24 33 19 36 18 29 31 32 34 26 30 23]
YearsInCurrentRole: [ 4  7  0  2  5  9  8  3  6 13  1 15 14 16 11 10 12 18 17]
YearsSinceLastPromotion: [ 0  1  3  2  7  4  8  6  5 15  9 13 12 10 11 14]
YearsWithCurrManager: [ 5  7  0  2  6  8  3 11 17  1  4 12  9 10 15 13 16 14]

In [9]:
df.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [10]:
df['Age'] = df['Age']/60
df['DailyRate'] = df['DailyRate']/1499
df['HourlyRate'] = df['HourlyRate']/100

In [11]:
df.drop(['Over18','StandardHours'], axis=1,inplace=True)

# Label Encoding

In [12]:
label_encoder =  preprocessing.LabelEncoder()
df['BusinessTravel'] = label_encoder.fit_transform(df['BusinessTravel'])
df['Department'] = label_encoder.fit_transform(df['Department'])
df['EducationField'] = label_encoder.fit_transform(df['EducationField'])
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['JobRole'] = label_encoder.fit_transform(df['JobRole'])
df['MaritalStatus'] = label_encoder.fit_transform(df['MaritalStatus'])
# df['Over18'] = label_encoder.fit_transform(df['Over18'])
df['OverTime'] = label_encoder.fit_transform(df['OverTime'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   float64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   int32
 3   DailyRate                 1470 non-null   float64
 4   Department                1470 non-null   int32
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int32
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int32
 12  HourlyRate                1470 non-null   float64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int32
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int32
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  OverTime                  1470 non-null   int32
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StockOptionLevel          1470 non-null   int64
 26  TotalWorkingYears         1470 non-null   int64
 27  TrainingTimesLastYear     1470 non-null   int64
 28  WorkLifeBalance           1470 non-null   int64
 29  YearsAtCompany            1470 non-null   int64
 30  YearsInCurrentRole        1470 non-null   int64
 31  YearsSinceLastPromotion   1470 non-null   int64
 32  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(3), int32(7), int64(23)
memory usage: 338.9 KB

In [14]:
df.sample(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1263,0.700000,0,2,0.570380,1,12,3,3,1,1768,...,4,2,3,7,6,2,5,3,0,4
523,0.833333,0,2,0.805203,1,28,1,3,1,716,...,3,3,3,20,3,3,20,8,3,8
669,0.650000,1,2,0.748499,1,6,3,3,1,932,...,4,4,0,8,2,1,2,2,2,2

In [15]:
df1 = df.copy()

In [16]:
df1

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.683333,1,2,0.735157,2,1,2,1,1,1,...,3,1,0,8,0,1,6,4,0,5
1,0.816667,0,1,0.186124,1,8,1,1,1,2,...,4,4,1,10,3,3,10,7,1,7
2,0.616667,1,2,0.915944,1,2,2,4,1,4,...,3,2,0,7,3,3,0,0,0,0
3,0.550000,0,1,0.928619,1,3,4,1,1,5,...,3,3,0,8,3,3,8,7,3,0
4,0.450000,0,2,0.394263,1,2,1,3,1,7,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.600000,0,1,0.589726,1,23,2,3,1,2061,...,3,3,1,17,3,3,5,2,0,3
1466,0.650000,0,2,0.408939,1,6,1,3,1,2062,...,3,1,1,9,5,3,7,7,1,7
1467,0.450000,0,2,0.103402,1,4,3,1,1,2064,...,4,2,1,6,0,3,6,2,0,3
1468,0.816667,0,1,0.682455,2,2,3,3,1,2065,...,3,4,0,17,3,2,9,6,0,8
1469,0.566667,0,2,0.418946,1,8,3,3,1,2068,...,3,1,0,6,3,4,4,3,1,2

In [17]:
df1_class0 = df1[df1.Attrition==0]
df1_class1 = df1[df1.Attrition==1]

In [18]:
df1_class0.shape

(1233, 33)

In [19]:
df1_class1.shape

(237, 33)

In [20]:
subset1 = pd.concat([df1_class1[0:75],df1_class0[0:75]], axis=0)

x = subset1.drop('Attrition', axis='columns')
y = subset1.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Random Forest
rnf = RandomForestClassifier(n_estimators=30, random_state=51)
rnf.fit(xtrain,ytrain)
# Accuracy on Training 
predictions_train = rnf.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = rnf.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  0.8666666666666667

In [21]:
subset2 = pd.concat([df1_class1[76:151],df1_class0[76:151]], axis=0)

x = subset2.drop('Attrition', axis='columns')
y = subset2.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# SVM
svm_model = SVC(gamma = 'auto')
svm_model.fit(xtrain,ytrain)
# Accuracy on Training 
predictions_train = svm_model.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = svm_model.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  0.5

In [22]:
subset3 = pd.concat([df1_class1[152:236],df1_class0[152:236]], axis=0)

x = subset3.drop('Attrition', axis='columns')
y = subset3.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 
# XGBoost
classifier=XGBClassifier()
classifier.fit(xtrain,ytrain)
predictions_train =classifier.predict(xtrain)
acc=accuracy_score(ytrain, predictions_train)
print('\nTraining Accuracy :', acc)
predictions_test = classifier.predict(xtest)
accc=accuracy_score(ytest, predictions_test)
print('\nTesting Accuracy :', accc)

F:\New_Anaconda_Inst_Loc\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:04:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Training Accuracy : 1.0

Testing Accuracy : 1.0

In [23]:
subset4 = pd.concat([df1_class1[0:75],df1_class0[237:312]], axis=0)

x = subset4.drop('Attrition', axis='columns')
y = subset4.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Logistic Regression
lrmodel = LogisticRegression()
lrmodel.fit(xtrain,ytrain)
# Accuracy on Training 
predictions_train = lrmodel.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = lrmodel.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  0.7583333333333333

Testing Accuracy :  0.6333333333333333

F:\New_Anaconda_Inst_Loc\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [24]:
subset5 = pd.concat([df1_class1[76:151],df1_class0[313:388]], axis=0)

x = subset5.drop('Attrition', axis='columns')
y = subset5.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Light GBM
model = lgb.LGBMClassifier(learning_rate=0.09,max_depth=-5,random_state=42)
model.fit(xtrain,ytrain,eval_set=[(xtest,ytest),(xtrain,ytrain)],
          verbose=20,eval_metric='logloss')
# Accuracy on Training 
predictions_train = model.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = model.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

F:\New_Anaconda_Inst_Loc\lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

[20]	training's binary_logloss: 0.0837564	valid_0's binary_logloss: 0.0837564
[40]	training's binary_logloss: 0.0133266	valid_0's binary_logloss: 0.0133266
[60]	training's binary_logloss: 0.00218954	valid_0's binary_logloss: 0.00218954
[80]	training's binary_logloss: 0.000361568	valid_0's binary_logloss: 0.000361568
[100]	training's binary_logloss: 5.97569e-05	valid_0's binary_logloss: 5.97569e-05

Training Accuracy :  1.0

Testing Accuracy :  1.0

In [25]:
subset6 = pd.concat([df1_class1[152:237],df1_class0[389:474]], axis=0)

x = subset6.drop('Attrition', axis='columns')
y = subset6.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# CatBoost
catmodel = CatBoostClassifier(iterations=100)
catmodel.fit(xtrain,ytrain,plot=False)

# Accuracy on Training 
predictions_train = catmodel.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = catmodel.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Learning rate set to 0.036304
0:	learn: 0.6421485	total: 300ms	remaining: 29.7s
1:	learn: 0.6013609	total: 306ms	remaining: 15s
2:	learn: 0.5481563	total: 311ms	remaining: 10.1s
3:	learn: 0.5053061	total: 316ms	remaining: 7.59s
4:	learn: 0.4718101	total: 321ms	remaining: 6.09s
5:	learn: 0.4401958	total: 324ms	remaining: 5.08s
6:	learn: 0.4144969	total: 327ms	remaining: 4.35s
7:	learn: 0.3854309	total: 330ms	remaining: 3.8s
8:	learn: 0.3602492	total: 334ms	remaining: 3.37s
9:	learn: 0.3415879	total: 337ms	remaining: 3.03s
10:	learn: 0.3253246	total: 340ms	remaining: 2.75s
11:	learn: 0.3005120	total: 344ms	remaining: 2.52s
12:	learn: 0.2819271	total: 347ms	remaining: 2.32s
13:	learn: 0.2641211	total: 349ms	remaining: 2.14s
14:	learn: 0.2464914	total: 352ms	remaining: 1.99s
15:	learn: 0.2347550	total: 354ms	remaining: 1.86s
16:	learn: 0.2183808	total: 356ms	remaining: 1.74s
17:	learn: 0.2086025	total: 359ms	remaining: 1.63s
18:	learn: 0.1941349	total: 361ms	remaining: 1.54s
19:	learn: 0.1832348	total: 364ms	remaining: 1.45s
20:	learn: 0.1766523	total: 366ms	remaining: 1.38s
21:	learn: 0.1650933	total: 369ms	remaining: 1.31s
22:	learn: 0.1571520	total: 371ms	remaining: 1.24s
23:	learn: 0.1488645	total: 373ms	remaining: 1.18s
24:	learn: 0.1391106	total: 376ms	remaining: 1.13s
25:	learn: 0.1340344	total: 378ms	remaining: 1.08s
26:	learn: 0.1273761	total: 381ms	remaining: 1.03s
27:	learn: 0.1213496	total: 383ms	remaining: 985ms
28:	learn: 0.1164978	total: 385ms	remaining: 944ms
29:	learn: 0.1110203	total: 388ms	remaining: 905ms
30:	learn: 0.1064593	total: 389ms	remaining: 867ms
31:	learn: 0.1001190	total: 392ms	remaining: 833ms
32:	learn: 0.0969898	total: 394ms	remaining: 800ms
33:	learn: 0.0931880	total: 396ms	remaining: 769ms
34:	learn: 0.0882998	total: 398ms	remaining: 739ms
35:	learn: 0.0855581	total: 400ms	remaining: 711ms
36:	learn: 0.0814843	total: 402ms	remaining: 685ms
37:	learn: 0.0780640	total: 405ms	remaining: 660ms
38:	learn: 0.0755454	total: 407ms	remaining: 636ms
39:	learn: 0.0731490	total: 409ms	remaining: 613ms
40:	learn: 0.0711436	total: 411ms	remaining: 591ms
41:	learn: 0.0682061	total: 413ms	remaining: 570ms
42:	learn: 0.0663363	total: 416ms	remaining: 551ms
43:	learn: 0.0650690	total: 418ms	remaining: 533ms
44:	learn: 0.0620510	total: 421ms	remaining: 515ms
45:	learn: 0.0590033	total: 424ms	remaining: 498ms
46:	learn: 0.0570872	total: 426ms	remaining: 481ms
47:	learn: 0.0558502	total: 429ms	remaining: 465ms
48:	learn: 0.0547126	total: 432ms	remaining: 449ms
49:	learn: 0.0538019	total: 434ms	remaining: 434ms
50:	learn: 0.0515807	total: 437ms	remaining: 420ms
51:	learn: 0.0492098	total: 440ms	remaining: 406ms
52:	learn: 0.0475514	total: 443ms	remaining: 393ms
53:	learn: 0.0463030	total: 446ms	remaining: 380ms
54:	learn: 0.0454653	total: 450ms	remaining: 368ms
55:	learn: 0.0443141	total: 453ms	remaining: 356ms
56:	learn: 0.0435046	total: 456ms	remaining: 344ms
57:	learn: 0.0420401	total: 460ms	remaining: 333ms
58:	learn: 0.0411461	total: 464ms	remaining: 322ms
59:	learn: 0.0399815	total: 467ms	remaining: 311ms
60:	learn: 0.0390296	total: 471ms	remaining: 301ms
61:	learn: 0.0377024	total: 477ms	remaining: 292ms
62:	learn: 0.0370354	total: 483ms	remaining: 284ms
63:	learn: 0.0363369	total: 487ms	remaining: 274ms
64:	learn: 0.0356982	total: 490ms	remaining: 264ms
65:	learn: 0.0350069	total: 493ms	remaining: 254ms
66:	learn: 0.0345976	total: 496ms	remaining: 244ms
67:	learn: 0.0340927	total: 498ms	remaining: 235ms
68:	learn: 0.0331928	total: 501ms	remaining: 225ms
69:	learn: 0.0325284	total: 505ms	remaining: 217ms
70:	learn: 0.0320448	total: 508ms	remaining: 208ms
71:	learn: 0.0314083	total: 511ms	remaining: 199ms
72:	learn: 0.0299173	total: 512ms	remaining: 190ms
73:	learn: 0.0293791	total: 515ms	remaining: 181ms
74:	learn: 0.0290773	total: 518ms	remaining: 173ms
75:	learn: 0.0286267	total: 520ms	remaining: 164ms
76:	learn: 0.0279103	total: 524ms	remaining: 156ms
77:	learn: 0.0275305	total: 526ms	remaining: 148ms
78:	learn: 0.0271402	total: 529ms	remaining: 141ms
79:	learn: 0.0267003	total: 532ms	remaining: 133ms
80:	learn: 0.0261950	total: 534ms	remaining: 125ms
81:	learn: 0.0256977	total: 536ms	remaining: 118ms
82:	learn: 0.0253209	total: 538ms	remaining: 110ms
83:	learn: 0.0249620	total: 540ms	remaining: 103ms
84:	learn: 0.0245503	total: 542ms	remaining: 95.7ms
85:	learn: 0.0239727	total: 544ms	remaining: 88.6ms
86:	learn: 0.0235315	total: 547ms	remaining: 81.7ms
87:	learn: 0.0230878	total: 549ms	remaining: 74.8ms
88:	learn: 0.0225896	total: 551ms	remaining: 68.1ms
89:	learn: 0.0222601	total: 553ms	remaining: 61.4ms
90:	learn: 0.0217395	total: 555ms	remaining: 54.9ms
91:	learn: 0.0213950	total: 557ms	remaining: 48.5ms
92:	learn: 0.0211293	total: 559ms	remaining: 42.1ms
93:	learn: 0.0208004	total: 562ms	remaining: 35.8ms
94:	learn: 0.0205299	total: 564ms	remaining: 29.7ms
95:	learn: 0.0202938	total: 566ms	remaining: 23.6ms
96:	learn: 0.0201070	total: 568ms	remaining: 17.6ms
97:	learn: 0.0196934	total: 570ms	remaining: 11.6ms
98:	learn: 0.0193859	total: 572ms	remaining: 5.78ms
99:	learn: 0.0190129	total: 575ms	remaining: 0us

Training Accuracy :  1.0

Testing Accuracy :  1.0

In [26]:
subset7 = pd.concat([df1_class1[0:75],df1_class0[475:550]], axis=0)

x = subset7.drop('Attrition', axis='columns')
y = subset7.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

#MultinomialNB
nbmodel = MultinomialNB()
nbmodel.fit(xtrain,ytrain)

# Accuracy on Training 
predictions_train = nbmodel.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = nbmodel.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  0.5916666666666667

Testing Accuracy :  0.6666666666666666

In [27]:
subset8 = pd.concat([df1_class1[76:151],df1_class0[551:625]], axis=0)

x = subset8.drop('Attrition', axis='columns')
y = subset8.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Adaboost
abc = AdaBoostClassifier(n_estimators=50, learning_rate=1)
model = abc.fit(xtrain, ytrain)

# Accuracy on Training 
predictions_train = model.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = model.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  0.9

In [28]:
subset9 = pd.concat([df1_class1[152:237],df1_class0[626:711]], axis=0)

x = subset9.drop('Attrition', axis='columns')
y = subset9.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Stochastic Gradient Boosting
model = GradientBoostingClassifier()
model.fit(xtrain, ytrain)

# define the evaluation method
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model on the dataset
n_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# # Accuracy on Training 
# predictions_train = model.predict(xtrain)
# print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# # Accuracy on Testing
# predictions_test = model.predict(xtest)
# print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Mean Accuracy: 1.000 (0.000)

In [38]:
subset10 = pd.concat([df1_class1[0:75],df1_class0[712:787]], axis=0)

x = subset10.drop('Attrition', axis='columns')
y = subset10.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# K Neighbors Classifier
classifier= KNeighborsClassifier(n_neighbors=10, metric='minkowski', p=2 )  
classifier.fit(xtrain, ytrain)  

# define the evaluation method
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# evaluate the model on the dataset
n_scores = cross_val_score(classifier, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# Accuracy on Training 
predictions_train = classifier.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = classifier.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  0.6916666666666667

Testing Accuracy :  0.7333333333333333

In [41]:
subset11 = pd.concat([df1_class1[76:151],df1_class0[788:863]], axis=0)
x = subset11.drop('Attrition', axis='columns')
y = subset11.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Decision Tree Classifier
dt = DecisionTreeClassifier()
dt.fit(xtrain,ytrain)

# # define the evaluation method
# cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# # evaluate the model on the dataset
# n_scores = cross_val_score(classifier, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# # report performance
# print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# Accuracy on Training 
predictions_train = dt.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = dt.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  1.0

In [53]:
subset12 = pd.concat([df1_class1[152:237],df1_class0[864:949]], axis=0)
x = subset12.drop('Attrition', axis='columns')
y = subset12.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Linear Discriminant Analysis
model = LinearDiscriminantAnalysis()
model.fit(xtrain,ytrain)

# # define the evaluation method
# cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# # evaluate the model on the dataset
# n_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# # report performance
# print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# Accuracy on Training 
predictions_train = model.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = model.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  0.8235294117647058

Testing Accuracy :  0.8529411764705882

In [58]:
subset13 = pd.concat([df1_class1[0:75],df1_class0[950:1025]], axis=0)
x = subset13.drop('Attrition', axis='columns')
y = subset13.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Gaussian Naive Bayes
classifier = GaussianNB()
classifier.fit(xtrain, ytrain)

# # define the evaluation method
# cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# # evaluate the model on the dataset
# n_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# # report performance
# print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# Accuracy on Training 
predictions_train = classifier.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = classifier.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  1.0

In [61]:
subset14 = pd.concat([df1_class1[76:151],df1_class0[1026:1117]], axis=0)
x = subset14.drop('Attrition', axis='columns')
y = subset14.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Bernoulli Naive Bayes
model = BernoulliNB()
model.fit(xtrain, ytrain)

# # define the evaluation method
# cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# # evaluate the model on the dataset
# n_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# # report performance
# print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

# Accuracy on Training 
predictions_train = model.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = model.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  0.7651515151515151

Testing Accuracy :  0.7058823529411765

In [68]:
subset15 = pd.concat([df1_class1[152:237],df1_class0[1118:1233]], axis=0)
x = subset15.drop('Attrition', axis='columns')
y = subset15.Attrition

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=10, stratify=y ) 

# Random Forest
rnf = RandomForestClassifier(n_estimators=25, random_state=51)
rnf.fit(xtrain,ytrain)
# Accuracy on Training 
predictions_train = rnf.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = rnf.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  0.925