In [32]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense,Dropout,BatchNormalization
from tensorflow.keras.layers import Conv1D,MaxPool1D
from tensorflow.keras.optimizers import Adam

In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [34]:
data= pd.read_csv("G:/Datasets/Dataset_for_Classification.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [35]:
label_encoder =  preprocessing.LabelEncoder()
data['BusinessTravel'] = label_encoder.fit_transform(data['BusinessTravel'])
data['Attrition'] = label_encoder.fit_transform(data['Attrition'])
data['Department'] = label_encoder.fit_transform(data['Department'])
data['EducationField'] = label_encoder.fit_transform(data['EducationField'])
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['JobRole'] = label_encoder.fit_transform(data['JobRole'])
data['MaritalStatus'] = label_encoder.fit_transform(data['MaritalStatus'])
data['OverTime'] = label_encoder.fit_transform(data['OverTime'])

In [36]:
target = data['Attrition']
print(pd.value_counts(target))

0    1233
1     237
Name: Attrition, dtype: int64

In [37]:
x=data.drop('Attrition',axis=1)
y=data['Attrition']

In [38]:
x.shape

(1470, 32)

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [40]:
x_train.shape

(1176, 32)

In [41]:
x_test.shape

(294, 32)

In [42]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

C:\Users\pallab\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\pallab\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\pallab\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
y_train=y_train.to_numpy()
y_test=y_test.to_numpy()

In [44]:
x_train = x_train.reshape(1176,32,1)
x_test = x_test.reshape(294,32,1)

In [45]:
epochs = 20
model = Sequential()
model.add(Conv1D(32,2,activation='relu',input_shape=(32,1)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv1D(64,2,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

model.add(Flatten())
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(1,activation='sigmoid'))

In [46]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_2 (Conv1D)            (None, 31, 32)            96
_________________________________________________________________
batch_normalization_2 (Batch (None, 31, 32)            128
_________________________________________________________________
dropout_3 (Dropout)          (None, 31, 32)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 30, 64)            4160
_________________________________________________________________
batch_normalization_3 (Batch (None, 30, 64)            256
_________________________________________________________________
dropout_4 (Dropout)          (None, 30, 64)            0
_________________________________________________________________
flatten_1 (Flatten)          (None, 1920)              0
_________________________________________________________________
dense_2 (Dense)              (None, 64)                122944
_________________________________________________________________
dropout_5 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 127,649
Trainable params: 127,457
Non-trainable params: 192
_________________________________________________________________

In [47]:
model.compile(optimizer=Adam(lr=0.0005),loss='binary_crossentropy',metrics=['accuracy'])

In [48]:
history=model.fit(x_train ,y_train, epochs=epochs,validation_data=(x_test,y_test),verbose=1)

Train on 1176 samples, validate on 294 samples
Epoch 1/20
1176/1176 [==============================] - 9s 7ms/sample - loss: 0.6651 - accuracy: 0.7457 - val_loss: 0.5493 - val_accuracy: 0.8027
Epoch 2/20
1176/1176 [==============================] - 1s 1ms/sample - loss: 0.4824 - accuracy: 0.8206 - val_loss: 0.4657 - val_accuracy: 0.8027
Epoch 3/20
1176/1176 [==============================] - 1s 1ms/sample - loss: 0.5139 - accuracy: 0.8282 - val_loss: 0.4405 - val_accuracy: 0.8027
Epoch 4/20
1176/1176 [==============================] - 1s 983us/sample - loss: 0.4320 - accuracy: 0.8554 - val_loss: 0.4405 - val_accuracy: 0.8027
Epoch 5/20
1176/1176 [==============================] - 1s 850us/sample - loss: 0.4547 - accuracy: 0.8393 - val_loss: 0.4380 - val_accuracy: 0.8027
Epoch 6/20
1176/1176 [==============================] - 1s 692us/sample - loss: 0.3592 - accuracy: 0.8776 - val_loss: 0.4292 - val_accuracy: 0.8027
Epoch 7/20
1176/1176 [==============================] - 1s 636us/sample - loss: 0.3689 - accuracy: 0.8639 - val_loss: 0.4302 - val_accuracy: 0.8027
Epoch 8/20
1176/1176 [==============================] - 1s 536us/sample - loss: 0.3761 - accuracy: 0.8614 - val_loss: 0.4401 - val_accuracy: 0.8027
Epoch 9/20
1176/1176 [==============================] - 1s 537us/sample - loss: 0.3776 - accuracy: 0.8639 - val_loss: 0.4238 - val_accuracy: 0.8129
Epoch 10/20
1176/1176 [==============================] - 1s 584us/sample - loss: 0.3729 - accuracy: 0.8648 - val_loss: 0.4225 - val_accuracy: 0.8231
Epoch 11/20
1176/1176 [==============================] - 1s 535us/sample - loss: 0.3395 - accuracy: 0.8707 - val_loss: 0.4130 - val_accuracy: 0.8367
Epoch 12/20
1176/1176 [==============================] - 1s 502us/sample - loss: 0.3098 - accuracy: 0.8920 - val_loss: 0.3962 - val_accuracy: 0.8435
Epoch 13/20
1176/1176 [==============================] - 1s 480us/sample - loss: 0.3216 - accuracy: 0.8759 - val_loss: 0.4023 - val_accuracy: 0.8401
Epoch 14/20
1176/1176 [==============================] - 1s 442us/sample - loss: 0.3228 - accuracy: 0.8759 - val_loss: 0.3961 - val_accuracy: 0.8401
Epoch 15/20
1176/1176 [==============================] - 1s 429us/sample - loss: 0.2589 - accuracy: 0.8971 - val_loss: 0.4049 - val_accuracy: 0.8367
Epoch 16/20
1176/1176 [==============================] - 1s 445us/sample - loss: 0.3072 - accuracy: 0.8818 - val_loss: 0.4111 - val_accuracy: 0.8367
Epoch 17/20
1176/1176 [==============================] - 1s 442us/sample - loss: 0.2782 - accuracy: 0.8861 - val_loss: 0.3912 - val_accuracy: 0.8537
Epoch 18/20
1176/1176 [==============================] - 0s 396us/sample - loss: 0.2736 - accuracy: 0.8886 - val_loss: 0.3906 - val_accuracy: 0.8401
Epoch 19/20
1176/1176 [==============================] - 0s 381us/sample - loss: 0.2553 - accuracy: 0.9014 - val_loss: 0.3965 - val_accuracy: 0.8537
Epoch 20/20
1176/1176 [==============================] - 0s 415us/sample - loss: 0.2767 - accuracy: 0.8920 - val_loss: 0.3911 - val_accuracy: 0.8503