In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
dataset = ['Hey my name is Monir Ahammod',
          'Hey I love data Science',
          'I study in CSE',]

In [9]:
cv = CountVectorizer()
x = cv.fit_transform(dataset)

In [10]:
cv.get_feature_names()

['ahammod',
 'cse',
 'data',
 'hey',
 'in',
 'is',
 'love',
 'monir',
 'my',
 'name',
 'science',
 'study']

In [5]:
x.toarray()

array([[1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0],
       [0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [6]:
print(x)

  (0, 3)	1
  (0, 8)	1
  (0, 9)	1
  (0, 5)	1
  (0, 7)	1
  (0, 0)	1
  (1, 3)	1
  (1, 6)	1
  (1, 2)	1
  (1, 10)	1
  (2, 11)	1
  (2, 4)	1
  (2, 1)	1