In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import seaborn
df = pd.read_csv('G:/Old pc important files/Downloads/Python/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [45]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [46]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Summarize the dataset

In [48]:
# dimensions (no. of rows & columns)
print(df.shape)
# list of columns/features
print(df.columns)
# peek some data
print(df.head(10))
# statistical summary
print(df.describe())

(150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [49]:
df.shape

(150, 5)

In [50]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [51]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
 x = df.drop(['species'],axis = 1)

In [52]:
 x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [53]:
y = df['species']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [54]:
seed = 7
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.3,random_state=7 )

In [55]:
xtrain

     sepal_length  sepal_width  petal_length  petal_width
49            5.0          3.3           1.4          0.2
65            6.7          3.1           4.4          1.4
62            6.0          2.2           4.0          1.0
111           6.4          2.7           5.3          1.9
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
142           5.8          2.7           5.1          1.9
92            5.8          2.6           4.0          1.2
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
25            5.0          3.0           1.6          0.2

[105 rows x 4 columns]

In [56]:
ytrain

49         Iris-setosa
65     Iris-versicolor
62     Iris-versicolor
111     Iris-virginica
29         Iris-setosa
            ...
142     Iris-virginica
92     Iris-versicolor
103     Iris-virginica
67     Iris-versicolor
25         Iris-setosa
Name: species, Length: 105, dtype: object

Balanced split of the dataset

In [32]:
seed = 7
xtrain,xtest,ytrain,ytest = train_test_split(x,y, test_size=0.3,
random_state=seed, stratify=y)

In [57]:
model = SVC(gamma = 'auto')
model.fit(xtrain,ytrain)

SVC(gamma='auto')

In [62]:
# make predictions on training data
predictions_train = model.predict(xtrain)
print('\nTraining Accuracy :', accuracy_score(ytrain,predictions_train))
# make predictions on test data
predictions_test = model.predict(xtest)
print('\nTest Accuracy :', accuracy_score(ytest, predictions_test))

Training Accuracy : 0.9904761904761905

Test Accuracy : 0.9555555555555556

In [59]:
from sklearn.ensemble import RandomForestClassifier

Rclf = RandomForestClassifier()
Rclf.fit(xtrain, ytrain)

RandomForestClassifier()

In [71]:
# make predictions on training data
predictions_train = Rclf.predict(xtrain)
print('\nTraining Accuracy :', accuracy_score(ytrain,
predictions_train))
# make predictions on test data
predictions_test = Rclf.predict(xtest)
print('\nTest Accuracy :', accuracy_score(ytest, predictions_test))

Training Accuracy : 1.0

Test Accuracy : 0.9111111111111111

In [76]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(xtrain, ytrain)

F:\Anaconta_installer\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [73]:
# make predictions on training data
predictions_train = logisticRegr.predict(xtrain)
print('\nTraining Accuracy :', accuracy_score(ytrain,
predictions_train))
# make predictions on test data
predictions_test = logisticRegr.predict(xtest)
print('\nTest Accuracy :', accuracy_score(ytest, predictions_test))

Training Accuracy : 0.9904761904761905

Test Accuracy : 0.9111111111111111

In [74]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
knn.fit(xtrain, ytrain)

KNeighborsClassifier(metric='euclidean')

In [75]:
# make predictions on training data
predictions_train = knn.predict(xtrain)
print('\nTraining Accuracy :', accuracy_score(ytrain,
predictions_train))
# make predictions on test data
predictions_test = knn.predict(xtest)
print('\nTest Accuracy :', accuracy_score(ytest, predictions_test))

Training Accuracy : 0.9809523809523809

Test Accuracy : 0.9111111111111111